@import url('global.css');
@import url('fonts.css');

/*--------------Styles---------------*/
body {
    /* background-color: #9c9c9c; */
}

.container {
    background-color: #fff;
    width: 100%;
}

.header {
    display: flex;
    margin-top: 88px;
    height: 105px;
    margin-left: 24px;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-bar-item {
    display: flex;
    list-style-position: inside;
    margin-left: 13px;

    text-transform: lovercase;

}

.list-marker {
    align-items: center;
    margin-right: 12px;
    margin-bottom: 1px;
    
}

.list-marker-none {
    display: none;
}

.nav-bar-link {
    font-size: 18px;
    text-decoration: underline;
    cursor: default;
    text-transform: lowercase;
    
}

.nav-bar-link:hover {
    color: #929292;
    transition: .3s ease;
   
}



.logo {
    padding-left: 36px;
    height: 105px;
}

.logo-image {
    height: 100%;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5px 25px 2px auto;
    height: 98px;
    width: 240px;

}

.contacts {
    padding-top: 2px;
    padding-bottom: 2px;
}

.contacts-link {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover-bg {
    
    width: 1100px;
    height: 757px;
    margin-top: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/cover.jpg');
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /.6);
}

.cover-box {
    width: 1000px;
    padding-top: 160px;
    margin: 0 auto;
}

.main-title {
    height: 335px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.main-title-part1 {
    align-self: start;
    padding-bottom: 8px;

}

.main-title-part2 {
    align-self: center;
    padding-bottom: 8px;
}

.main-title-part3 {
    align-self: end;
    padding-bottom: 8px;
    position: relative; /*   Это чтобы убрать пустое пространство после слова "НАДО"*/
    left: 50px; /*   Из-за него. Слово сстоит не около края .cover-box*/
    
}

.bottom-bar {
    display: flex;
    padding-top: 149px;
    padding-left: 28px;
    justify-content: space-between;
    align-items: center;

}

.slogan {
    color: #fff;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    
    letter-spacing: 1px;
    word-spacing: 18px;
    cursor: default;
}

.cover-button-bet {
    display: flex;
    height: 51px;
    width: 256px;
    border: 1px solid #fff;
    background: none;
    justify-content: center;
}

.button-bet {
    background: none;
    color:#fff;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    
}

.button-bet:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
    transition: .3s ease;
}

.button-bet-link {
    text-decoration: none;
}

.lots {
    margin: 0 auto;
    margin-top: 150px;
    
    width: 1052px;
}

.lots-title {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 40px;

}

.lots-cards {
    padding-top: 27px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 563px; 
    gap: 25px;
}

.lots-cards-bg1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/card-lot-01.jpg');    

}

.lots-cards-bg2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/card-lot-02.jpg');    

}

.lots-cards-bg3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/card-lot-03.jpg');    

}





.card-title {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 51px 40px 0 40px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}


.lots-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /.6);
    justify-content: space-between;
}

.card-text {
    color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: normal;
    padding: 0 40px 48px 40px;

}

.button-view-more-box {
    background: none;

    height: 25px;
}

.button-view-more {
    background: none;
    border: 0;
    padding-top: 30px;
    padding-left: 40px;
}


.button-view-more-link {
    color:#000;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: normal;
    text-transform: lowercase;
    /* text-decoration: underline; */
    text-underline-offset: 4px;

}

.button-view-more-link:hover {
    color: #929292;
    transition: .3s ease;
}