.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 105px;
    margin: 91px 24px 96px 24px;
    padding-left: 26px;
    padding-right: 26px;
}

.nav-bar {
    display: flex;
    padding-top: 44px;
    list-style-type: circle;
}

.nav-item {
    padding-right: 32px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: lowercase;
    letter-spacing: 0.2px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-logo {
    width: 148px;
    height: 105px;
}

.main-logo-image {
    height: 100%;
    width: 100%;
}

.contacts-box {
    justify-self: end;
}

.contacts-bar {
    display: flex;
    flex-direction: column;
    width: 210px;
    margin-right: 30px;
}

.contacts-bar-space-fix {
    padding-top: 6px;
}

.contacts-bar-item {
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
}

.contacts-bar-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Main => Cover */
.cover {
    display: flex;
    flex-direction: column;
    width: 1100px;
    min-height: 757px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/cover.jpg");
    position: relative;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.main-title-box {
    max-width: 1000px;
    width: 100%;
    max-height: 355px;
    height: 100%;
    margin: 165px 50px 0 50px;
}

.title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-title {
    padding-bottom: 9px;
    color: #fff;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.main-title-start {
    align-self: start;
    line-height: 115%;
    padding-bottom: 20px;
}

.main-title-start-end {
    letter-spacing: 60px;
}

.main-title-center {
    align-self: center;
    line-height: 100%;
    padding-bottom: 20px;
}

.main-title-center-end {
    letter-spacing: 60px;
}

.main-title-end {
    align-self: end;
    letter-spacing: 60px;
    line-height: 100%;
    position: relative;
}

.main-title-end-end {
    letter-spacing: 30px;
}

.main-title-end-no-space {
    letter-spacing: 0;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 134px;
    align-items: center;
    padding-left: 78px;
}

.motto {
    color: #fff;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
    word-spacing: 17px;
}

.bet-button {
    background: none;
    color: #fff;
    font-size: 22px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 50px;
    height: 51px;
    width: 256px;
    border: 1px currentColor solid;
}

.bet-button-link {
    text-decoration: none;
}

/* Main => Lots */
.lots {
    margin: 179px 24px 0 24px;
}

.lots-title {
    padding-left: 40px;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card-link {
    text-decoration: none;
    text-transform: none;
}
.cards {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: auto;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 563px;
    position: relative;
}

.card-background-left {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/card-lot-01.jpg");
}

.card-background-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/card-lot-02.jpg");
}

.card-background-right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/card-lot-03.jpg");
}

.card-title-box {
    padding: 50px 40px 0 40px;
    z-index: 1;
}

.card-title {
    color: #fff;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.card-text-box {
    padding: 0 40px 48px 40px;
    z-index: 1;
}

.card-text {
    color: #fff;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.button-view-more {
    background: none;
    border: 0;
    padding-top: 30px;
    padding-left: 40px;
    color: #000;
    font-size: 20px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

/* Main => About */
.about {
    padding: 0 24px 0 24px;
    margin-top: 146px;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-box-main {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 47px;
    align-items: center;
}

.about-box-logo-circle {
    background-color: #000;
    height: 240px;
    width: 240px;
    border-radius: 50%;
}

.about-box-logo-img {
    height: 115px;
    width: 148px;
    margin: 64px 46px;
}

.about-box-title {
    margin-top: 6px;
    padding-left: 72px;
}

.about-title {
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.about-box-text {
    max-width: 693px;
    width: 100%;
    align-self: flex-end;
}

.about-text {
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1,4;
    letter-spacing: 0.11px;
    word-spacing: 1px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.about-text:last-child {
    padding-bottom: 0;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 105px;
    margin: 181px 50px 88px 50px;
}

.nav-bar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.nav-bar-item {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: lowercase;
}

.nav-bar-link {
    color: #000;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.social-box {
    justify-self: end;
}
.social-bar {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.social-link {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    border: 0;
    background: none;
    padding-inline: 0;
    width: 48px;
    height: 48px;
}

.list-marker-none {
    list-style-type: none;
}

.current-page {
    text-decoration: none;
}
