@import url("fonts.css");
@import url("global.css");


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    margin: 92px 24px 96px 24px;
    padding-left: 26px;
    padding-right: 26px;
}

.nav-bar {
    display: flex;
    padding-top: 44px;
    list-style-type: circle; 
}

.nav-item {
    padding-right: 32px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: lowercase;
    letter-spacing: 0.2px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-logo {
    width: 148px;
    height: 105px;
    margin-right: 185px ;
}

.main-logo-image {
    height: 100%;
    width: 100%;
}

.contacts-bar {
    display: flex;
    flex-direction: column;
    width: 210px;
    margin-right: 30px;
    margin-top: 0px;
}

.contacts-bar-space-fix {
    padding-top: 4px;
}

.contacts-bar-item {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
}

.contacts-bar-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Main => Cover */
.cover {
    display: flex;
    flex-direction: column  ;
    width: 1100px;
    height: 757px;
    margin-top: 96px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/cover.jpg');
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Cover title */
.title-box {
    width: 1000px;
    height: 355px;
    display: flex;
    flex-direction: column;
    margin: 165px 50px 0 50px;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    padding-bottom: 9px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 45px;
}

.main-title-part1 {
    align-self: start;
    position: relative;
    bottom: 1px;
}

.main-title-part2 {
    position: relative;
    right: 14px;
}

.main-title-part3 {
    align-self: end;
    position: relative;
    left: 45px; 
    bottom: 6px;
}

/* Bottom-bar */
.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 134px;
    align-items: center;
    padding-left: 78px;
}

.slogan {
    color: #fff;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    word-spacing: 16px;
}

.bet-button {
    background: none;
    color:#fff;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 50px;
    height: 51px;
    width: 256px;
    border: 1px #fff solid;
}

.bet-button-link {
    text-decoration: none;
}

/* Main => Lots */
.lots {
    margin: 179px 24px 0 24px;
}

.lots-title {
    padding-left: 40px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.cards {
    padding-top: 27px;
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 563px; 
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.card-background-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/card-lot-01.jpg');
}

.card-background-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/card-lot-02.jpg');
}

.card-background-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/card-lot-03.jpg');
}

.card-title-box {
    padding: 50px 40px 0 40px;
    z-index: 1;
}

.card-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.card-text-box {
    padding: 0 40px 48px 40px;
    z-index: 1;  
}

.card-text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.button-view-more {
    background: none;
    border: 0;
    padding-top: 30px;
    padding-left: 40px;
}

.button-view-more-link {
    color:#000;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: normal;
    text-transform: lowercase;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Main => About */
.about {
    padding: 0 24px 0 24px;
    margin-top: 146px;
}

.about-box {
    display: flex;
    flex-direction: column;
}

.about-box-main {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 47px;
    align-items:center;
}

.about-box-logo-circle {
    
    background-color: #000;
    height: 240px;
    width: 240px;
    border-radius: 50%; 
}

.about-box-logo-img {
    height: 114px;
    width: 148px;
    margin: 63px 47px;
}

.about-box-title {
    padding-left: 72px;
}

.about-title {
    color: #000;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.about-box-text {
    padding-left: 359px;                                                             
}

.about-text {
    color: #000;
    font-family: 'Raleway';
    font-size: 20px; 
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1,4;
    letter-spacing: 0.11px;
}

.about-text-space {
    padding-top: 8px;
    padding-bottom: 15px;
}

/* Footer */
.footer {
    display: flex;
    margin: 165px 50px 88px 50px;
    justify-content: space-between;
}

.nav-bar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.nav-bar-item {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: lowercase;
}

.nav-bar-link {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.social-box {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.social-button {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    border: 0;;
    background: none;
    padding-inline: 0;
    width: 48px;
    height: 48px;
}

.list-marker-none {
    list-style-type: none;
}

.list-underline-none {
    text-decoration: none;
}